doctype html
//- title, block body
html
  head
    title= title
    link(href="/css/bs-callout.css", rel="stylesheet")
    link(href="/css/bootstrap.min.css", rel="stylesheet")
  body
    .container
      block body
